.footer-color{
	background-color: #1A232A;
	padding-bottom: 20px;
	padding-top: 20px;
}

.footer-color-2{
	background-color: #262F36;
	padding-bottom: 20px;
	padding-top: 20px;
}

.chamshop-left{
	font-weight: 600;
	color: #FFFFFF;
	font-size: 24px;
}

.chamshop-left-a{
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
}

.chamshop-left-a:hover{
	text-decoration: none;
	color: orange;
	font-size: 16px;
	transition: 0.7s ease;
}

.chamshop-margin-div{
	margin-top: 10px;
	margin-bottom: 10px;
}

.chamshop-vertical-divider{
	border: solid 1px #262F36;
	background-color: #262F36;
	height: 100px;
	width: 1px;
}

.chamshop-social-media {
	margin-top: 20px;
	margin-bottom: 10px;
	 overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
}

.chamshop-social-media:hover{
	 transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.chamshop-logo{
	width: 200px;
	margin-left: 40px;
}

.chamshop-founders{
	color: #FFFFFF;
	font-size: 8px;
}

.chamshop-small-divider{
	border: solid 1px #262F36;
	background-color: #262F36;
	height: 10px;
	width: 1px;
}

.chamshop-copyright span{
	font-weight: 600;
	color: #FFFFFF;
	font-size: 24px;
}

.boldx span{
	font-weight:600;
}

.page-span-title{
	font-weight: 600;
	font-size: 20px;
}

.span-label{
	color: rgba(0, 0, 0, 0.6);
}

.address-label{
	font-weight: 600;
}

.div-margin-top{
	margin-top: 20px;
}

.div-margin-bottom{
	margin-bottom: 10px
}

.chamshop-categories{
	border: 1px solid;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	width: 200px;
	height: 220px;
}

.span-category{
	font-weight: 600;
	font-size: 16px;
}

.padding-top-bottom{
	padding-top: 50px;
}

.tab-font{
	color:#000000;
	font-size: 16px;
}

.small-padding{
	padding: 20px;
}

.ignore-a{
	color: #000000;
}

.invalid{
	color: red;
	font-weight: 600;
}

.valid{
	color:green;
	font-weight: 600;
}