    #chamLogo:hover{
        opacity: 0.7;
    }
    #navText {
        color:white;
        font-weight: 600;
    }
    #navText:hover{
        color:#6FB98F;
        opacity: 0.9;
    }
    #hotDeals {
        color:#1D242C;
        font-family: monospace;
        font-weight: 900;
    }
    #hotDeals:hover {
        color:orangered;
        background-color:darkslategrey;
        opacity: 0.7;
    }