#sideNavFont{
	text-decoration: none; 
	color: #000000; 
	font-weight: 600;
}

#sideNavFont:hover{
	color: orange;
	transition: 0.5s;
}

#rdbStoretype:hover{
	color: orange;
	transition: 0.5s;
}

#indexSideNav{
	text-decoration: none; 
	color: white; 
	font-weight: 600;
}

#indexSideNav:hover{
	color: orange;
	font-size: 16px;
	transition: 1s ease;
}

#itemSelect:hover{
	width: 250px;
}

.shrink {
transition: 1s ease;
}

.shrink:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

.line-separator{
border-bottom:1px solid #cccccc;
}

.divider-vertical {
height: 50px;
border-right: 1px solid #cccccc;
}

#sellerSideNav{
	text-decoration: none; 
	color: black; 
	font-weight: 600;
}

#sellerSideNav:hover{
	color: orange;
	font-size: 16px;
	transition: 1s ease;
	cursor: pointer
}

#x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}